<div class="my-2 d-flex justify-content-between">
  <div class="fw-bold">Tareas</div>
</div>

<div class="card p-2 mt-2">
  <div class="card-header bg-white">
    <div class="d-flex justify-content-between">
      <strong class="aling-self-center">Información</strong>
      <div class="d-flex flex-row-reverse bd-highlight">
        <div class="btn-group">
          <button (click)="this.route.navigate(['/Task/create'])" class="btn btn-sm ml-2 btn-primary" type="button">
            Crear
          </button>
        </div>
      </div>
    </div>
    <div class="card-body p-0 m-0">
      <div class="table-responsive">
        <table class="table" id="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Img</th>
              <th scope="col">Nombre</th>
              <th scope="col">Materia</th>
              <th scope="col">Codigo</th>
              <th scope="col">fecha inicio</th>
              <th scope="col">fecha final</th>
              <th scope="col">Comentario</th>
              <th scope="col">Opciones</th>
            </tr>
          </thead>
          <tbody>
            @for(item of this.list; track item){
            <tr>
              <td>{{ item.id }}</td>
              <td>{{ item.img }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.area }}</td>
              <td>{{ item.code }}</td>
              <td>{{ item.startDate | date:'yyyy-MM-dd'}}</td>
              <td>{{ item.endDate | date:'yyyy-MM-dd'}}</td>
              <td>{{ item.Comentary }}</td>
              <td>
                <div class="btn-group" role="group" aria-label="Acciones">
                  <div class="btn-group" role="group" aria-label="Editar">
                    <button type="button" class="btn btn-sm btn-primary" (click)="this.route.navigate(['/Task/update/', item.id])">
                      Editar
                    </button>
                  </div>
                  <div class="btn-group" role="group" aria-label="Eliminar" style="margin-left: 10px;"> <!-- Ajusta el margen aquí -->
                    <button type="button" class="btn btn-sm btn-danger" (click)="this.delete(item.id)">
                      Eliminar
                    </button>
                  </div>
                </div>
              </td>
            </tr>
            }
          </tbody>
        </table>
        <!-- Contenedor para los controles de paginación -->
        <div class="pagination-container aling-self-center">
          <div class="dataTables_paginate">
            
          <!-- Controles de paginación generados por DataTables -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>