<mat-toolbar class="topbar">
  <!-- Mobile Menu -->
  <button mat-icon-button (click)="toggleMobileNav.emit()" *ngIf="!showToggle">
    <i-tabler name="menu-2" class="icon-20 d-flex"></i-tabler>
  </button>
  <!-- --------------------------------------------------------------- -->

  <!-- --------------------------------------------------------------- -->
  <!-- Notification Dropdown -->
  <!-- --------------------------------------------------------------- -->

  <button mat-icon-button aria-label="Notifications" (click)="this.openModal($event); this.getAllPenddingTask()">
    <i-tabler class="d-flex" name="bell" matBadge="{{this.sizePenddingTask}}" matBadgeColor="primary"></i-tabler>
  </button>

  <span class="flex-1-auto"></span>

  <button mat-icon-button [matMenuTriggerFor]="profilemenu" aria-label="Notifications" class="m-l-10">
    <img src="/assets/images/profile/user-1.jpg" class="rounded-circle object-cover" width="35" />
  </button>
  <mat-menu #profilemenu="matMenu" xPosition="before" class="topbar-dd cardWithShadow">
    <button mat-menu-item (click)="this.route.navigateByUrl('/profile')">
      <mat-icon class="d-flex align-items-center"><i-tabler name="user" class="icon-18 d-flex"></i-tabler></mat-icon>My
      Profile
    </button>
    <button mat-menu-item (click)="this.route.navigateByUrl('/Task')">
      <mat-icon class="d-flex align-items-center"><i-tabler name="list-check"
          class="icon-18 d-flex"></i-tabler></mat-icon>My Task
    </button>

    <div class="p-x-12 m-t-12">
      <a (click)="this.logOut();" mat-flat-button color="primary" class="w-100">Logout</a>
    </div>
  </mat-menu>
</mat-toolbar>

<!--modal reactive programming-->
<ng-container *ngIf="modalDisplay$ | async as modalDisplay;">
  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':modalDisplay}">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body p-0">
          <div class="card p-3">
            <div class="card-header bg-white">
              <div class="d-flex justify-content-between">
                <strong class="aling-self-center">Notifications</strong>
                <div class="text-end">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="closeModalMethod()">
                  </button>
                </div>
              </div>
            </div>
            <div class="card-body bg-white">
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                    <tr *ngFor="let list of this.penddingTask">
                      <td> <img src="../../../../assets/images/task/{{list.img}}.png" alt="{{list.img}}" width="35">
                      </td>
                      <td>{{list.name}}</td>
                      <td>
                        <div class=" btn btn-sm btn-danger">
                          {{list.endDate | date:'yyyy-MM-dd'}}
                        </div>
                      </td>
                      <td>
                        <div class="btn-group" role="group" aria-label="Acciones">
                          <div class="btn-group" role="group" aria-label="Editar">
                            <button type="button" class="btn btn-sm bg-white"
                              (click)="this.route.navigate(['/Task/view/', list.id]); this.closeModalMethod();">
                              <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="text-primary bi bi-eye-fill" viewBox="0 0 16 16">
                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                              </svg>
                            </button>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>