<div mat-subheader *ngIf="item.navCap" class="nav-caption">
  {{ item.navCap }}
</div>
<a
  mat-list-item
  (click)="onItemSelected(item)"
  [ngClass]="{
    'mat-toolbar mat-primary activeMenu': item.route
      ? router.isActive(item.route, true)
      : false,
  }"
  class="menu-list-item primary"
  *ngIf="!item.navCap"
>
  <i-tabler  *ngIf="item.iconName == 'list' && item.displayName == 'Tareas'"
    class="routeIcon"
    name="{{ item.iconName }}"
    style="margin-bottom: 10px;"
    matListItemIcon
  ></i-tabler>
  <i-tabler *ngIf="item.iconName != 'list'"
  class="routeIcon"
  name="{{ item.iconName }}"
  matListItemIcon
  ></i-tabler>
  <span class="hide-menu">{{ item.displayName }}</span>
</a>
